body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.timer, .settings {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.timer #time-left {
    font-size: 48px;
    margin-top: 20px;
}

.timer .buttons, .settings input {
    margin-top: 20px;
}

.buttons button, .settings input[type="number"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons button {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #555;
}

.settings input[type="number"] {
    width: 80px;
}
